.books {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.books-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

form input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
}

form button {
    background-color: #eb9dce;
    color: #000000;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    cursor: pointer;
}